<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Cho phép truy cập trực tiếp vào thư mục public
    RewriteCond %{REQUEST_URI} ^/public/ [OR]
    RewriteCond %{REQUEST_URI} \.(jpg|jpeg|png|gif)$ [NC]
    RewriteRule ^ - [L]
    
    # Chuyển hướng các request khác về index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule> 